body {
    align-content: center;
}

.a {
    color :cadetblue;
    font-family: fantasy;
    font-size: 50px; 
}

.b {
    color :aquamarine;
    font-family: monospace;
    font-size: 40px; 
}

.c {
    color :cadetblue;
    font-family: sans-serif;
    font-size: 35px; 
}